<div class="container" style="margin-top: 10px;">
  <h1>{{title}}</h1>
 
 </div>

  Weather Forecast:

 <table class="table">
     <thead>
         <tr>
             <th>Date</th>
             <th>Temp. (C)</th>
             <th>Temp. (F)</th>
             <th>Summary</th>
         </tr>
     </thead>
     <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{forecast.date}}</td>
        <td>{{forecast.temperatureC}}</td>
        <td>{{forecast.temperatureF}}</td>
        <td>{{forecast.summary}}</td>
     </tbody>
 </table>